# Media files
albums/edit/*
albums/conversions/*
albums/direct/videos/*
albums/direct/games/*
albums/userpics/*

# Gallery config
include/config.inc.php

# Created backup script
backup_server.sh

# Ignore daemon lock file
converter/dekky_mp4_daemon.lock

# Media capture files
manga_downloader/manga.cfg
manga_downloader/status.txt

# All log files
logs/*.log
logs/*.log.php

# Vim files
*.swp

# Python compiled
*.pyc
